* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body > header {
    background-color: rgba(4, 158, 158, 0.918);
    padding: 16px 0;
    color: #f5f6fa;
}

header .contanier {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 15px;
}

header li a {
    color:  #f5f6fa;
    text-decoration: none;
}

header li a:hover {
    text-decoration: underline;
}

.contanier {
    width: 1280px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    width: 100%;
}   

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2{
    font-size: 36px ;
}

section h2, .articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 9px;
    margin-bottom: 9px;
    font-size: 26px;
}

.articles article a {
    background-color:  rgba(4, 158, 158, 0.918);
    color: #ffffff;
    padding: 6px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10%;
    border: 0.5px solid black;
    margin-top: 5px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

#esportes {
    background-color: rgba(0,255, 0 , 0.15);
}

#economia {
    background-color: rgb(215, 248, 162);
}

#tecnologia {
    background-color: rgb(133, 117, 158);
}

#programacao {
    background-color: rgb(152, 189, 231);
}



